<h1 align="center">Login</h1>

<%= form_tag session_path do %>
    <div class="field"  align="center">
        <%= label_tag :username %><br />
        <%= text_field_tag :username %>
    </div>
    <div class="actions"  align="center">
        <%= submit_tag 'Login' %>
    </div>
<% end %>
