<p id="notice" align="center"><%= notice %></p>

<palign="center">
<h2 align="center">  <%= @user.username %> user created!!</h2>
</p>


<h2 align="center"><%= link_to 'Go to Login Page', login_path %></h2>

